/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.accordion {
    position: relative;
    display: block;
    background-color: whitesmoke;
    border: solid 1px  #e0e0e0;
}

.sb__accordion__item {
    display: block;
}

.accordion .sb__accordion__content {
    display: block;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease, padding 0.3s linear;
}

.accordion .sb__accordion__content p {
    padding: 20px;
    margin: 0;
}

.accordion .sb__accordion__content:target {
    height: 150px;
}

.accordion .sb__accordion__trigger {
    text-decoration: none;
}

.accordion .sb__accordion__title {
    position: relative;
    display: block;
    margin: 0;
    padding: 10px;
    font-size: 1em;
    background: #00B3B4;
    color: white;
    border: solid 1px #379AA4;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset,
                0 4px 0 #338A84, 0 4px 2px rgba(0, 0, 0, 0.5);
}

.accordion .sb__accordion__title:hover {
    background-color: #0bbfc0;
}

.accordion .sb__accordion__title:after {
    position: absolute;
    top: calc(50% - 5px);
    right: 20px;
    width: 7px;
    height: 7px;
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    content: "";
  }
